<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>default</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>
<body>
    <div data-includeHTML="../elements/header.html"></div>
    <div  data-includeHTML="./config.html"></div>
    <script>
        /*cada linha que pegar do .snippets ele atribui para a variavel o que está dentro do atributo*/
        (function($){
            $(document).ready( function(){      
                        $("div[data-includeHTML]").each(function () {
                            $(this).load($(this).attr("data-includeHTML"));
                        });
                console.log('teste');
            });
        })(jQuery);
    </script>
    
</body>
</html>